<p id="notice"><%= notice %></p>

  <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-secondary" do %>
     <i class="fa fa-heart"></i>
     <%= @pin.get_upvotes.size %>

   <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
   <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>



<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
