<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Description:</strong>
  <br />
  <%= @pin.description %>
</p>


<% if current_user.role = "admin" %>

<%= link_to like_pin_path(@pin), method: :put, class: "btn btn-secondary" do %>
<i class="fa fa-heart" aria-hidden="true"></i>

   <%= @pin.get_upvotes.size %>

 <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
 <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
<% end %>

<% end %>

<script src="/path/to/infinite-scroll.pkgd.min.js"></script>
