<div class="container">
  <div class="row">
    <%= form_for :user, :html => {:class => "form-signin mg-btm"}, url: '/users' do |f| %>
    <h1 class="heading-desc">
      Sign Up
    </h1>
    <div class="main">

      <%= f.text_field :name, placeholder:"Name", class:"form-control"%>
      <%= f.email_field :email, placeholder:"Email", class:"form-control"%>
      <%= f.password_field :password, placeholder:"Password",class:"form-control" %>
      <%= f.submit "Continue", class:"btn btn-danger btn-block" %>
    </div>

    <strong>OR</strong>

    <div class="social-box">
      <div class="row mg-btm">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary btn-block">
            <i class="icon-facebook"></i>
            Login with Facebook
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-info btn-block">
            <i class="icon-twitter"></i>
            Login with Twitter
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<% end %>

<script>
$(function () {
  var x = 0;
  setInterval(function () {
    x -= 1;
    $('body').css('background-position', x + 'px 0');
  }, 10);
})
</script>
