<h1>User Profile</h1>
<br>
<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username%>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>

<br><br>
<h3>Bids:</h3>
<br>
<table>
  <tr>
    <th>Item Name</th>
    <th>Bid Price</th>
    <th>Chosen Bid?</th>
    <th>Bought?</th>
    <th>Paid?</th>
    <th></th>
    <th></th>
  </tr>
<% @bids.each do |bid| %>
  <tr>
    <td><%= link_to bid.stock.item.name, bid.stock.item %></td>
    <td><%= bid.bidding_price %></td>
    <td><%= bid.chosen_bid %></td>
    <td><%= bid.bought %></td>
    <td><%= bid.payment_made %></td>
      <% if bid.payment_made == false %>
    <td><%= link_to "Pay", new_bid_braintree_path(bid) %></td>
      <% else %>
      <td></td>
      <% end %>
    <td><%= link_to 'Delete Bid', bid_path(bid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
</table>

<br>
